# ===================================================================
# tpRigToolkit-tools-rignode requirements file
# ===================================================================

-e git+https://github.com/wonderworks-software/PyFlow.git@release#egg=PyFlow